.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondary;
    box-shadow: 0 15px 25px rgba(#000000, .45);
    border-radius: 5px;

    @include breakpoint($mobile-bp) {
        padding: 1rem 1rem;
    }
}
.add-post__form {
    display: flex;
    align-items: center;
}

.add-post__textarea {
    display: block;
    flex-grow: 1;
    height: 26px;
    overflow: hidden;
    border: none;
    background: transparent;
    resize: none;

    font-size: 1.5rem;
    font-family: inherit;
    color: #fff;
    font-family: inherit;

    &::placeholder {
        color: #d2d2d2;
        
    }
}
.add-post__form-actions {
    width: 12rem;
    flex-shrink: 0;

    display: flex;
    justify-content: flex-end;

    @include breakpoint($mobile-bp) {
        width: 10rem;
    }
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    border: none;
    border-radius: 50%; 
    cursor: pointer;
    margin-left: 1.5rem;

    transition: background-color .2s linear;

    @include breakpoint($mobile-bp) {
        width: 3.4rem;
        height: 3.4rem;
    }
    
}
.add-post__file {
    background: #EBEBEB url(/assets/images/add-post/photo.svg)
    center no-repeat;
    input {
        display: none;
    }
    &:hover {
        background-color: darken(#EBEBEB, 5%);
    }
    @include breakpoint($mobile-bp) {
        background-size: 1.8rem;
    }
}
.add-post__send {
    margin-left: 1.5rem;

    font-size: 0;

    background: #3137C9 url(/assets/images/add-post/send.svg)
    center no-repeat;

    background-color: #3137C9;
    &:hover {
        background-color: darken(#3137C9, 5%);
        
    }
    @include breakpoint($mobile-bp) {
        background-size: 1.5rem;
    }
}

