.btn {
    display: inline-block;
    vertical-align: top;
    background: $secondary;

    text-decoration: none;
    

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: $withe;
    border: none;
    cursor: pointer;
    padding: 1.1em 2.1em;
    border-radius: 3em;

    transition: background-color .2s linear;

    &:hover {
        text-decoration: none;
    }

    &--red {
        background-color: #ED3024;
        box-shadow: 0 7px 17px -10px rgba(#ED3024, .3);
        &:hover,
        &:focus {
            background-color: #CD251A;
        }
    }
    &--blue {
        background-color: #2A5FE7;
        box-shadow: 0 7px 17px -10px rgba(#2A5FE7, .3);
        &:hover,
        &:focus {
            background-color: #3137C9;
        }
    }
    &--rounded {
        border-radius: 0.41em;
    }
    &--sm {
        padding: 0.7em 1.25em;
    }
}
