.related {
    padding-bottom: .5rem;
    border-bottom: 1px solid #1C1C1C;

}

.related__list {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($mobile-bp) {
        flex-direction: column;
        width: 100%;
    }
}
.related__list-item {
    margin-bottom: 2.5rem;
    width: 50%;
    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}
.related__list-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #F3EBA2;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
        color: inherit;
    }
}
.related__list-date {
    font-size: 1.2rem;
    color: #828282;
    
}