.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.tags__item {
    margin-right: 1rem;
    margin-bottom: 1rem;

    background-color: #EA8C1E;
    border-radius: 3px;

    font-size: 1.1rem;
    color: $withe;
    text-align: center;
    padding: .4rem .9rem;
    line-height: 1.3;
}