.search {
    max-width: 21rem;
    width: 100%;
    background-color: #202020;
}
.search__input {
    background: transparent;
    width: 100%;
    border: none;
    padding: 14px 20px;
    font-family: inherit;
    font-size: 1.2rem;

    color: #FFFFFF;
    font-style: italic;

    @include breakpoint($tablet-bp) {
        height: 4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        font-size: 1.6rem;
    }
}